<div class="full-container">
  <div class="content-container">
    <div class="content">
      <h1> <%= @question.question_text %> </h1>
      <div class="answers-box">
        <div class="answers-container">
          <% @question.answers.each do |answer| %>
            <% if answer.final_answer %>
              <% if answer.open_to_indemnities %>
                <div class="answer-item"><%= link_to answer.answer_text, airports_distance_path %></div>
              <% else %>
                <div class="answer-item"><%= link_to answer.answer_text, no_indemnities_path %></div>
              <%end %>
            <% else %>
              <div class="answer-item"><%= link_to answer.answer_text, question_path(name: answer.dependency) %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

