<!-- Détermine le lien à suivre pour chaque réponse de la question affichée :
      - si question finale et droit à indemnités : lien vers form détails vol pour déterminer le montant
      - si question finale et pas droit à indemnités : lien vers page affichant 0 indemnités
      - si pas question finale : lien vers la question suivante (indiquée dans answer.dependency) -->
<div class="full-container">
  <div class="content-container">
    <div class="content">
      <h1> <%= @question.question_text %> </h1>
      <div class="answers-box">
        <div class="answers-container">
          <% @question.answers.each do |answer| %>
            <% if answer.final_answer %>
              <% if answer.open_to_indemnities%>
                <div class="answer-item"><%= link_to answer.answer_text, flight_details_path(params: {indemnity_reason: answer.indemnity_reason}) %></div>
              <% else %>
                <div class="answer-item"><%= link_to answer.answer_text, no_indemnities_path %></div>
              <%end %>
            <% else %>
              <div class="answer-item"><%= link_to answer.answer_text, question_path(name: answer.dependency) %></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

