.answers-box {
  display: flex;
  justify-content: space-around;
}

.answer-item {
  height: 40px;
  width: 190px;
  font-size: 10px;
  line-height: 40px;
  background-color: rgb(236, 151, 31);
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(236, 151, 31);
  margin: 1rem;

  &:hover {
    opacity: 0.7;
    transition-duration: 0,7s;
  }
 }

.answer-item > a {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: none;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .answer-item {
    font-size: 12px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .answer-item {
    height: 80px;
    width: 320px;
    font-size: 20px;
    line-height: 80px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){
  .answer-item {
    height: 70px;
    line-height: 70px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}




