<div class="full-container">
  <div class="content-container">
    <div class="content">
      <h1>Vous pouvez demander des indemnités jusqu'à <span class="indemnities-amount"><%= @indemnities %> €</span></h1>
      <a href="http://enqueteur.dgac.developpement-durable.gouv.fr/index.php/51924?lang=fr" target="_blank" class="button full-button">Réclamer mes indemnités</a>
      <br>
      <br>
      <%= link_to 'Faire un nouveau calcul', root_path, class: "link" %>
    </div>
  </div>
</div>
