<div class="container">
  <div class="content-container center">
    <div class="content">
      <h1>Vol annulé, retard, refus d'embarquement ?</h1>
      <p>Vous pouvez être indemnisé(e) jusqu'à 600€ !</p>
      <%= link_to 'Calculer mon indemnisation', question_path(@first_question), class: 'button full-button' %>
    </div>
  </div>
</div>

