<div class="container">
  <div class="content-container center">
    <div class="content">
      <h1>Vous pouvez demander des indemnités jusqu'à <%= @indemnities %> €</h1>
      <a href="https://www.air-indemnite.com/fr/deposer-une-reclamation" target="_blank" class="button full-button">Réclamer mes indemnités</a>
    </div>
  </div>
</div>

